body {
  margin: 0;
  top: 0;
  font-family: Helvetica, sans-serif;
}

canvas {
  border: 5px solid rgb(67, 24, 24);
  position: relative; 
  background-color: rgb(95, 195, 127);
  background-image: url(assets/img/chessBackground.jpg);
  background-size: contain;
  
  /* opacity: 1; */
}

* {
  user-select: none;
}

.cursorAtivado :hover {
  cursor: pointer;
}

.cursorDesativado {
  cursor: default;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(212, 233, 250);
}

.money-section {
  height: 600px;
  width: 23%;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  border: 2px solid rgb(41, 25, 11);
  border-right: 0px;
  background-color: rgb(249, 250, 238);

  label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
  }
}

.text {
  top: 5%;
  font-size: 2rem;
  position: absolute;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;

  label {
    width: 10px;
    position: inherit;
    border: 2px solid rgb(236, 236, 163);
    background-color: rgba(236, 236, 163, 0.37);
    z-index: -1;
    /* transform: translateX(-30px) translateY(-40px); */
  }
  label:hover {
    cursor: pointer;
  }
}

button:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.upgrade-section {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-audio {
  position: absolute;
  bottom: 5%;
  right: 2%;
  width: 30px;
  height: 30px;
  border-radius: 55%;
  background-color: #ffffff00;
  border: none;
}

.ativado {
  /* background-color: greenyellow; */
  background-image: url(assets/img/volume.png);
  background-size: contain;

}

.desativado {
  /* background-color: rgb(138, 137, 135); */
  background-image: url(assets/img/mute.png);
  background-size: contain;
}